click==8.1.7
Cython==3.0.10
ffmpeg==1.4
filterpy==1.4.5
huggingface_hub==0.24.2
json_tricks==3.17.3
keras==3.4.1
lap==0.4.0
matplotlib==3.8.0
munkres==1.1.4
numpy==2.0.1
onnxruntime==1.16.0
opencv_python==4.8.0.76
opencv_python_headless==3.4.18.65
pandas==2.2.2
Pillow==10.4.0
plotly==5.23.0
pycocotools==2.0.8
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.14.0
setuptools==71.0.4
skimage==0.0
streamlit==1.37.0
tensorflow==2.15.0
torch==2.2.2
torch_tensorrt==2.3.0
torchvision==0.17.2
tqdm==4.66.1
ultralytics==8.2.48
